body, html {scroll-behavior: smooth;}
/* 공통 */
.profile, .project > div {
    max-width: 1200px; margin: 0 auto;
    border:1px solid aquamarine
}
h1 {
    font-family: "DM Serif Display", serif;
    font-size: 10rem; font-weight: 600;
    letter-spacing: 4px;
    text-align: center; color: #fff;
    text-transform: capitalize; /*앞글자만 대문자로 만들어줌*/
}
/* 고정메뉴 */
nav {
    position: fixed; z-index: 999;
    right: 50px; bottom: 50px;
}
nav::after {
    content: '';
    display: inline-block;
    width: 2.5px; height: 100px;
    background: #fff;
    position: absolute; right: -20px; top: 15px;
}
nav a {
    display: block; text-align: right;
    padding: 10px 0;
}
/* intro */
.bg {
    background: url(../images/bg.jpg) center 40%;
    background-size: cover;

}
.intro {
    height: 100vh;
}
.intro .year {
    padding: 20px;
}
.intro .center {
    text-align: center;
    padding: 200px 0 0 ;
}
.intro .center h1 {}
.intro .center .name {
    font-size: 2rem;
    transform: translateY(-50px);
}
.intro .center .info {font-size: 1.2rem;}
/* profile */
.profile {
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
}
.profile .photo {
    width: 200px; height: 200px;
    overflow: hidden; border-radius: 15px; 
    margin-left: 20px;
}
.profile .photo img {width: 100%;}
.profile .txt {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px; border-radius: 15px;
    height: max-content;
    width: calc(100% - 220px);
    display: grid;
    grid-template-areas: 
        'a b'
        'c c';
}
.profile .txt .list {}
.profile .txt .list * {color: #222;}
.profile .txt .list:nth-child(1) {grid-area: a;}
.profile .txt .list:nth-child(2) {grid-area: b;}
.profile .txt .list:nth-child(3) {grid-area: c; margin-top: 30px;}
.profile .txt .list h2 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.profile .txt .list p {line-height: 2.2;}
.profile .txt .list p em {font-weight: 600;}
.profile .txt .list p span {color: #555;}
/* project */
.project {
    padding: 100px 0;
    background: linear-gradient(180deg, #301dfd, #b2bbff, #301dfd);
}
/* 3-1. 앱 디자인 */
.project .app {
    display: flex;
}
.project .app .thum {}
.project .app .thum img {width: 100%;}
.project .app .app_info {}
.project .app .app_info p {}
.project .app .app_info h3 {}
.project .app .app_info .date {}
.project .app .app_info ul {}
.project .app .app_info ul li {}
/* 3-2. 웹 디자인 */
.project .web {
    position: relative;
}
.project .web .swiper {max-width: 1000px;}
.project .web .swiper-slide {display: flex;}
.project .web div[class^=swiper-button] {color: #fff;}
/* 3-2. sns 디자인 */
.project .sns {max-width: 1920px;}
.project .sns .swiper-wrapper {transition-timing-function: linear;}/*일정속도*/
.project .sns .swiper-slide {align-self: center;}/*Flex 내장*/
.project .sns .swiper-slide img {width: 100%;}
/* 3-2. sns 디자인 */
.project .banner {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
}
/* 배너 디자인 */
.project .banner p {width: calc(50% - 3px);}
.project .banner p img {width: 100%;}
/* 디테일 디자인 */
.project .detail .swiper {height: 500px;} /*overflow:hidden; 내장*/
.project .detail .swiper-slide a {
    display: block; height: 500px;
    position: relative;
}
.project .detail .swiper-slide a::before {
    content: '';
    display: block;
    height: 100px; width: 100%;
    background: linear-gradient(360deg, #301dfd, transparent);
    position: absolute; left: 0; bottom: 0;
    z-index: 999;
}
.project .detail .swiper-slide img {width: 100%;}
/* 상세 팝업 */
.big_bg {
    position: fixed;
    left: 0; top: 0; z-index: 999;
    width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.big_bg .img {
    max-width: 50vw; margin: 30px auto;
    height: 90vh; overflow-y: auto; overflow-x: hidden;
}
.big_bg .img img {width: 100%;}
/* 스크롤바 꾸미기 */
.big_bg .img::-webkit-scrollbar {
    background: #333;
    width: 8px; height: 10px;
}
.big_bg .img::-webkit-scrollbar-thumb {
    background: rgb(185, 183, 255);
}

/* 반응형웹 1200, 800, 600 */
@media screen and (max-width:1200px){
    h1 {font-size: 8rem;}
}
@media screen and (max-width:800px){
    h1 {font-size: 5rem;}
    .profile {height: max-content;}
    .profile .txt {
        grid-template-areas: 
            'a'
            'b'
            'c';
    }
}
@media screen and (max-width:600px){
    h1 {font-size: 3rem;}
    .profile {height: max-content;}
    .profile .photo {display: none;}
    .profile .txt {width: 100%;}
    .project .app {flex-flow: column;}
    .project .web .swiper-slide {flex-flow: column;}
}

